/*-- FONT --*/
.font-title-main-1 {
	font-weight: 500;
	font-size: 50px;
	line-height: 52px;
	margin-top: 20px;
}


@media (max-width: 800px) 
{
	.font-title-main-1  {
	font-weight: 375;
	font-size: 38px;
	line-height: 40px;
	}
}


.font-subtext-main-1  {
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 800px) 
{
	.font-subtext-main-1  {
	font-weight: 300;
	font-size: 15px;
	line-height: 17px;
	}
}

.font-title-main {
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
}

@media (max-width: 800px) 
{
	.font-title-main  {
	font-weight: 375;
	font-size: 30px;
	line-height: 32px;
	}
}

.font-subtext-main  {
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 800px) 
{
	.font-subtext-main  {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	}
}




/*-- SECTION - MAIN - 1  --*/
.section-main-1 {
	background-color: #ffcc4d;
}


.section-main-1-sizer {
	max-width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-main-1-inner {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1.75fr 1fr;
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 800px) 
{
	.section-main-1-inner  {
	grid-template-columns: 1fr;
	}
}

.section-main-1-left {
	align-self: center;
	justify-self: center;
	display: block;
}


.section-main-1-right {
	align-self: center;
	justify-self: center;
	display: block;
}




/*-- SECTION - MAIN - 2  --*/
.section-main-2 {
	background-color: #fffef3;
}


.section-main-2-sizer {
	max-width: 1000px;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-main-2-inner {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1.75fr;
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 800px) 
{
	.section-main-2-inner  {
	grid-template-columns: 1fr;
	}
}

.section-main-2-left {
	align-self: center;
	justify-self: center;
	display: block;
}


.section-main-2-right {
	align-self: center;
	justify-self: center;
	display: block;
}

@media (max-width: 800px) 
{
	.section-main-2-right  {
	display: none;
	}
}

.section-main-2-right-small {
	align-self: center;
	justify-self: center;
	display: none;
}

@media (max-width: 800px) 
{
	.section-main-2-right-small  {
	display: block;
	}
}

/*-- SECTION - MAIN - 3  --*/
.section-main-3 {
	background-color: #fffef3;
}


.section-main-3-sizer {
	max-width: 1000px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-main-3-inner {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1.75fr 1fr;
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 800px) 
{
	.section-main-3-inner  {
	grid-template-columns: 1fr;
	}
}

.section-main-3-left {
	align-self: center;
	justify-self: center;
	display: block;
}


.section-main-3-right {
	align-self: center;
	justify-self: center;
	display: block;
}









